@-webkit-keyframes fadeOut {
    0% {
        display: none;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        display: none;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        display: none;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        display: none;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}